.header {
  width: 100%;
  height: 50px;
  background-color: #808080;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

.header-label {
  background-color: #63cf67;
  color: #000;
  padding: 10px 16px;
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Livvic', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 150px;
  margin-left: 20px;
}

