.symbol-palette {
  width: auto;
  min-width: 220px;
  max-width: 250px;
  background-color: #edf4d6f6;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 12px;
  padding: 15px;
  overflow-y: auto;
  justify-content: center;
  align-content: start;
}

.symbol-item {
  position: relative;
  border-radius: 0;
  padding: 12px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
  user-select: none;
  width: 95px;
  height: 95px;
}

.symbol-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FBD4FB;
  opacity: 0.68;
  z-index: 0;
}

.symbol-item > * {
  position: relative;
  z-index: 1;
}

.symbol-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.symbol-item:active {
  cursor: grabbing;
}

.symbol-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

